extends layout

block content
  main 
    section.page-content 
      h1 Menu
      section#menu
        #menu-control-wrapper
          a#breakfast-control-button.menu-control-button.btn.btn-primary(href='/menu/breakfast') Breakfast
          a#lunch-control-button.menu-control-button.btn.btn-primary(href='/menu/lunch') Lunch
          a#dinner-control-button.menu-control-button.btn.btn-primary(href='/menu/dinner') Dinner 
        #menu-wrapper
          - var n = 0
          - var i = 0
          each category in categories
              - var category = category
              - n++
              button.card-header.menu-category-button(id='menu-category-button-' + n data-toggle='collapse' data-target='#menu-collapse-wrapper-' + n)= category
              div(class='collapse menu-collapse-wrapper' id='menu-collapse-wrapper-' + n data-parent='#menu-wrapper')
                each item in menu
                  - i++
                  if item.MealCategory == category
                    .card
                      button(class='card-header item-button item-button-' + i data-toggle='collapse' data-target='#item-collapse-wrapper-' + i)
                        span.item-name= item.Name
                        span.header-price.price.price-1= item.Price1
                        if item.SignatureItem == '1'
                          img.sig-item(src='/image/browns-point-sig-item.png')  
                      div(class='collapse-wrapper collapse' id='item-collapse-wrapper-' + i data-parent='#menu-collapse-wrapper-' + n)
                        div(class='card-body card-body-' + i)
                          .description-wrapper  
                            span.description= item.Description
                          .prices-wrapper 
                            span.price.price-1= item.Price1
                            span.price-1-category= item.Price1Category
                            span.price.price-2= item.Price2
                            span.price-2-category= item.Price2Category
      

  link(rel='stylesheet' href='/stylesheets/menu.css' type='text/css')

