mixin google-map-place(code, key)
  - if ("alt" in attributes)
    - alt = attributes.alt;
    - delete attributes.alt;
  - else
    - alt = true;
  - id = "place_id:" + code.replace(/ /g, "+");
  iframe(src=`https://google.com/maps/embed/v1/place?key=${key}&q=${id}`
         frameborder="0"
         width="100%"
         height="450")&attributes(attributes)
  - if (alt)
    | Your browser does not support Google Maps.